.errors {
	margin: 0.5em 0;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	
	border: 1px solid #DDA0A0;
	background: #FFC0C0;
}

.success {
	margin: 0.5em 0;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	
	border: 1px solid #A0DDA0;
	background: #C0FFC0;
}

td > .errors {
	border: none;
	margin: 0;
}

dl > dt {
	float: left;
	width: 200px;
	margin-right: 10px;
	text-align: right;
	
	font-weight: bold;
}

dl > dd {
	padding-left: 210px;
}

dl > dd + dd {
	float: none;
	clear: both;
	margin-top: 0.5em;
}

dl > dd p {
	font-size: 11px;
	color: #404040;
}

dl {
	margin-bottom: 0.5em;
	clear: both;
	overflow: hidden;
}

fieldset {
	border: none;
}

fieldset.buttons input {
	margin-left: 210px;
}

input,
select {
	width: 200px;
}

input[type=submit],
input[type=reset],
input[type=button],
input[type=checkbox],
input[type=radio] {
	width: auto;
	padding: 3px 8px;
}

input[type=submit].default,
input[type=reset].default,
input[type=button].default,
button.default {
	font-weight: bold;
}

textarea.fullsize {
	width: 100%;
	height: 300px;
}

/* ========== Lists ========== */

table {
	width: 100%;
}

th {
	text-align: left;
	padding: 7px 8px;
}

.list,
table > tbody > tr:first-child > td {
	border-top: 1px solid #CEEBFF;	
}

.list > li,
table > tbody > tr > td,
table > tbody > tr > th {
	padding: 7px 8px;
	
	border-bottom: 1px solid #CEEBFF;
	list-style: none;
	outline: none;
}

table > tbody > tr.prepended > th,
table > tbody > tr.prepended > td {
	border-bottom: none;
}

.list > li:hover,
table > tbody > tr:hover > td {
	background-color: #CEEBFF;
}

table > tbody > tr.prepended:hover + tr > td {
	background-color: #CEEBFF;
}    

.list > li.group-header,
table > tbody > tr.group-header > td {
	background-color: #FFD07C !important;
	border: none !important;

	font-size: 16px;
	font-weight: bold;
	color: #800000;
}

/* ========== Gallery ========== */

.gallery {	
}

.gallery .day {
	overflow: hidden;
	margin-bottom: 20px;
}

.gallery .day .header {
	width: 100%;
	padding: 5px;
	
	background: #AADDFF;
	
	font-size: 14px;
	font-weight: bold;	
}

.gallery .item {
	float: left;
	width: 150px;
	height: 150px;
	position: relative;
	overflow: hidden;
	
	background: #f1f9ff;
}

.gallery .item > a {
	display: block;
	width: 100%;
	height: 100%;
}

.gallery .item > a > img {
	color: transparent;
	font-size: 0;
}

.gallery .details {
	position: absolute;
	bottom: 0;
	display: none;
	width: 100%;
	
	background: rgba(0, 0, 0, 0.7);
}

.gallery .details div:first-child {
	margin-bottom: 3px;
}

.gallery .item:hover .details {
	display: block;
	padding: 6px;
	
	color: #FFFFFF;
	text-decoration: none;
}

/* ========== Book ========== */

.book h3 {
	color: #C00000;
	text-align: center;
	/*background: #FFDDDD;*/
}

.book h4 {
	color: #0000C0;
	border-bottom: 1px solid #0000C0;
	/*background: #E0E0FF;*/
}

.book h5 {
	color: #008000;
	/*background: #DDFFDD;*/
}

.book h3,
.book h4,
.book h5,
.book h6,
.book h7,
.book h8 {
	margin: 0;
	padding: 3px;
}

.book h3 a,
.book h4 a,
.book h5 a,
.book h6 a,
.book h7 a,
.book h8 a {
	display: block;
}

.book h3 a:hover,
.book h4 a:hover,
.book h5 a:hover,
.book h6 a:hover,
.book h7 a:hover,
.book h8 a:hover {
	text-decoration: none;
}

.book section {
	margin-bottom: 1em;
}

.book-row {
	margin: 1em 0;
	overflow: visible;
	position: relative;
}

.book-row > div:last-child {
	clear: both;
}

.book-row:hover {
	background: #F4F4F4;
}

.book-row-with-form {
	background: #FFAA33;
}

.book-row-with-form:hover {
	background: #FF990A;
}

.book-content {
	float: left;
	width: 70%;
	padding-right: 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.book-row-choose-type .book-content {
	width: 100%;
	padding-right: 0;
}

.book-toolbar {
	float: left;
	margin-left: -30px;
	width: 0;
}

.book-meta {
	float: left;
	width: 30%;
	
	color: #808080;
}

.book-toolbar {
	display: none;
	padding-top: 2px;
}

.book-row:hover .book-toolbar {
	display: block;
}

.book-toolbar a {
	display: none;
	width: 16px;
	height: 16px;
	
	content: '';
	color: transparent;
	font-size: 0;
}

.book-toolbar:hover a {
	margin-right: 10px;
}

.book-toolbar:hover a:last-child {
	margin-right: 0;
}

.book-toolbar:hover div {
	padding: 5px;
	margin-left: -6px;
	margin-top: -6px;
	position: absolute;
	z-index: 1;
	
	border: 1px solid #808080;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #FFFFFF;
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.book-toolbar a:first-child,
.book-toolbar:hover a {
	display: block;
	float: left;
}

.book-edit {	
	background: url(../images/edit.png) no-repeat center center;
}

.book-add-after {	
	background: url(../images/add-after.png) no-repeat center center;
}

.book-add-before {	
	background: url(../images/add-before.png) no-repeat center center;
}

.book-add-inside {	
	background: url(../images/add-inside.png) no-repeat center center;
}

/* ========== Book Form ========== */

.book-form-choice {
	overflow: hidden;
}

.book-form-choice a,
.book-form-choice span {
	float: left;
	padding: 5px 10px;
	margin-right: 20px;
}

.book-form-choice a:last-child {
	margin-right: 0;
}

.book-form-choice a:hover,
.book-form-choice a:active {
	text-decoration: none;
	color: #FFFFFF;
	
	background: rgba(0, 0, 0, 0.4);	
}

.book-form textarea,
.book-form input {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.book-form textarea {
	height: 100px;
}

.book-form input[type="submit"] {
	width: auto;
}

.book-form .buttons {
	text-align: right;
}